@model IEnumerable<ProjectsInfo.Models.Employes.Manager>

@{
    ViewData["Title"] = "Менеджеры";
}

<h1 style="text-align:center;margin:2%">Managers</h1>

<div class="container-fluid" style="padding-left:20%;padding-right:20%">
    <button class="btn btn-primary" style="margin-bottom:2%">
        <a asp-action="Create" style="color:white">Create New</a>
    </button>
    <table class="table table-bordered table-hover toggle-circle">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <div>
                            <button type="button" class="btn waves-effect waves-light btn-danger">
                                <a asp-action="Edit" asp-route-id="@item.ID" style="color:white">Edit</a>
                            </button>
                            <button type="button" class="btn waves-effect waves-light  btn-danger">
                                <a asp-action="Delete" asp-route-id="@item.ID" style="color:white">Delete</a>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
