@model ProjectsInfo.Models.Project

@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-align:center;margin:2%">Delete project</h1>

<div>
    <div class="container">
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayNameFor(model => model.Title)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.Title)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayNameFor(model => model.StartDate)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.StartDate)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayNameFor(model => model.EndDate)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.EndDate)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayNameFor(model => model.ExpectedHours)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.ExpectedHours)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayNameFor(model => model.DevelopmentHourPrice)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.DevelopmentHourPrice)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayNameFor(model => model.TestingHours)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.TestingHours)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayNameFor(model => model.TestingHourPrice)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.TestingHourPrice)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:2%">
                @Html.DisplayNameFor(model => model.Manager)
            </div>
            <div class="col">
                @Html.DisplayFor(model => model.Manager)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%">
                <form asp-action="Delete" style="display: flex; flex-flow: row">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index">
                        <button type="button" class="btn waves-effect waves-light btn-block btn-danger" style="margin-left:5%">
                            Back
                        </button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

