@model ProjectsInfo.Models.Project

@{
    ViewData["Title"] = "Финансовая информация";
}

<h1 class="titleview">Финансовая информация</h1>

<div>
    <div class="container">
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.StartDate)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.StartDate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.EndDate)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.EndDate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.ExpectedHours)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.ExpectedHours)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.DevelopmentHourPrice)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.DevelopmentHourPrice)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.TestingHours)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.TestingHours)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.TestingHourPrice)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.TestingHourPrice)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.Manager)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.Manager.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.TimeProfit)%
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.TimeProfit)%
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.MoneyProfit)%
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.MoneyProfit)%
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.TimeBeforeEnd)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.TimeBeforeEnd)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsrowbtn">
                <form asp-action="Details" class="rowbtn">
                    <input type="hidden" asp-for="ID" />
                    <a asp-action="Edit" asp-route-id="@Model.ID">
                        <button type="button" class="btn waves-effect waves-light btn-block btn-danger" >
                            Редактировать
                        </button>
                    </a>
                    <a asp-action="Delete" asp-route-id="@Model.ID" style="color:white">
                        <button type="button" class="btn waves-effect waves-light btn-block btn-danger detailsdeletebtn">
                            Удалить
                        </button>
                    </a>
                    <a asp-action="Index">
                        <button type="button" class="btn waves-effect waves-light btn-block btn-danger detailsbackbtn">
                              Назад
                        </button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

