@model IEnumerable<ProjectsInfo.Models.Project>

@{
    ViewData["Title"] = "Проекты";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Проекты</title>
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="~/css/customstyle.css" id="custom" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid indexbackground">
        <div>
            <a asp-action="Create" class="refcolor">
                    <button type="button" class="btn waves-effect waves-light btn-info addbutton">
                        Добавить проект
                    </button>
            </a>
        </div>
        @foreach (var project in Model)
        {
            <div class="card">
                <div class="card-body cardheight">
                    <div>
                        <h4 class="card-title">
                           @Html.DisplayFor(modelItem => project.Title)
                        </h4>
                    </div>
                    <div class="cardcontent">
                        <div class="discription"></div>
                        <div class="projectinfo">
                            <div class="projectrowbtn">
                                <div>
                                    <a asp-action="Details" asp-route-id="@project.ID" class="refcolor">
                                        <button type="button" class="btn waves-effect waves-light btn-block btn-danger">
                                            Подробности
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <a asp-action="EditDevelopers" asp-route-id="@project.ID" class="refcolor">
                                        <button type="button" class="btn waves-effect waves-light btn-block btn-danger editbtn">
                                            Редактировать разработчиков
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="rowinfo">
                                <span class="label label-success labelinfo">
                                    <h5 class="textcolor">
                                    @Html.DisplayNameFor(modelItem => project.Manager)
                                    </h5>
                                </span>
                                <div class="value">
                                    @Html.DisplayFor(modelItem => project.Manager.Name)
                                </div>
                            </div>
                            <div class="rowinfo">
                                <span class="label label-warning labelinfo">
                                    <h5 class="textcolor">
                                    @Html.DisplayNameFor(modelItem => project.Price)
                                    </h5>
                                </span>
                                <div class="value">
                                    @Html.DisplayFor(modelItem => project.Price)
                                </div>
                            </div>
                            <div class="rowinfo">
                                <span class="label label-warning labelinfo">
                                    <h5 class="textcolor">
                                    @Html.DisplayNameFor(modelItem => project.TimeProfit)%
                                    </h5>
                                </span>
                                <div class="value">
                                    @Html.DisplayFor(modelItem => project.TimeProfit)%
                                </div>
                            </div>
                            <div class="rowinfo">
                                <span class="label label-warning labelinfo">
                                    <h5 class="textcolor">
                                    @Html.DisplayNameFor(modelItem => project.MoneyProfit)%
                                    </h5>
                                </span>
                                <div class="value">
                                    @Html.DisplayFor(modelItem => project.MoneyProfit)%
                                </div>
                            </div>
                            <div class="rowinfo">
                                <span class="label label-danger labelinfo">
                                    <h5 class="textcolor">
                                     @Html.DisplayNameFor(modelItem => project.StartDate) - @Html.DisplayNameFor(modelItem => project.EndDate)
                                    </h5>
                                </span>
                                <div class="value">
                                     @Html.DisplayFor(modelItem => project.StartDate) - @Html.DisplayFor(modelItem => project.EndDate)
                                </div>
                            </div>
                             <div class="rowinfo">
                                <span class="label label-danger labelinfo">
                                    <h5 class="textcolor">
                                     @Html.DisplayNameFor(modelItem => project.TimeBeforeEnd)
                                    </h5>
                                </span>
                                <div class="value">
                                     @Html.DisplayFor(modelItem => project.TimeBeforeEnd)
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>