@model IEnumerable<ProjectsInfo.Models.Project>

@{
    ViewData["Title"] = "Проекты";
}

<!DOCTYPE html>
<html lang="en" style="background: #eef5f9">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>Проекты</title>
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/colors/blue.css" id="theme" rel="stylesheet">
</head>
<body style="background: #eef5f9">
    <div class="container-fluid">
        <div>
            <button type="button" class="btn waves-effect waves-light btn-info" style="margin: 2% 0 30px 83%;width: 17%">
                <a asp-action="Create" style="color:white">Добавить проект</a>
            </button>
        </div>
        @foreach (var project in Model)
        {
            <div class="card">
                <div class="card-body" style="height:300px">
                    <div>
                        <h4 class="card-title">
                           @Html.DisplayFor(modelItem => project.Title)
                        </h4>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <div style="float: left;width: 54%;height: 100%"></div>
                        <div style="float: right;width:46%;height: 100%;padding-left:20px">
                            <div style="height: 20%;width: 40%;display: flex;flex-flow: row">
                                <div>
                                    <button type="button" class="btn waves-effect waves-light btn-block btn-danger">
                                        <a asp-action="Details" asp-route-id="@project.ID" style="color:white">Подробности</a>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="btn waves-effect waves-light btn-block btn-danger" style="width:200%;margin-left:2%">
                                        <a asp-action="EditDevelopers" asp-route-id="@project.ID" style="color:white">Редактировать разработчиков</a>
                                    </button>
                                </div>
                            </div>
                            <div style="height: 10%">
                                <span style="height: 80%;width:42%;float:left" class="label label-success">
                                    <h5 style="color: white">
                                    @Html.DisplayNameFor(modelItem => project.Manager)
                                    </h5>
                                </span>
                                <div style="float:left;margin-left:1%">
                                    @Html.DisplayFor(modelItem => project.Manager.Name)
                                </div>
                            </div>
                            <div style="height: 10%">
                                <span style="height: 80%;width:42%;float:left" class="label label-warning">
                                    <h5 style="color: white">
                                    @Html.DisplayNameFor(modelItem => project.Price)
                                    </h5>
                                </span>
                                <div style="float:left;margin-left:1%">
                                    @Html.DisplayFor(modelItem => project.Price)
                                </div>
                            </div>
                            <div style="height: 10%">
                                <span style="height: 80%;width:42%;float:left" class="label label-warning">
                                    <h5 style="color: white">
                                    @Html.DisplayNameFor(modelItem => project.TimeProfit)%
                                    </h5>
                                </span>
                                <div style="float:left;margin-left:1%">
                                    @Html.DisplayFor(modelItem => project.TimeProfit)%
                                </div>
                            </div>
                            <div style="height: 10%">
                                <span style="height: 80%;width:42%;float:left" class="label label-warning">
                                    <h5 style="color: white">
                                    @Html.DisplayNameFor(modelItem => project.MoneyProfit)%
                                    </h5>
                                </span>
                                <div style="float:left;margin-left:1%">
                                    @Html.DisplayFor(modelItem => project.MoneyProfit)%
                                </div>
                            </div>
                            <div style="height: 10%">
                                <span style="height: 80%;width:42%;float:left" class="label label-danger">
                                    <h5 style="color: white">
                                     @Html.DisplayNameFor(modelItem => project.StartDate) - @Html.DisplayNameFor(modelItem => project.EndDate)
                                    </h5>
                                </span>
                                <div style="float:left;margin-left:1%">
                                     @Html.DisplayFor(modelItem => project.StartDate) - @Html.DisplayFor(modelItem => project.EndDate)
                                </div>
                            </div>
                             <div style="height: 10%">
                                <span style="height: 80%;width:42%;float:left" class="label label-danger">
                                    <h5 style="color: white">
                                     @Html.DisplayNameFor(modelItem => project.TimeBeforeEnd)
                                    </h5>
                                </span>
                                <div style="float:left;margin-left:1%">
                                     @Html.DisplayFor(modelItem => project.TimeBeforeEnd)
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/jasny-bootstrap.js"></script>
    <script src="~/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>
</html>