@model IEnumerable<ProjectsInfo.Models.Employes.Developer>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titleview">Developers</h1>

<div class="container-fluid centertable">
    <button class="btn btn-primary createbtn">
        <a asp-action="Create" class="refcolor">Create New</a>
    </button>
    <table class="table table-bordered table-hover toggle-circle">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <div >
                            <button type="button" class="btn waves-effect waves-light btn-danger" >
                                <a asp-action="Edit" asp-route-id="@item.ID" class="refcolor">Edit</a>
                            </button>
                            <button type="button" class="btn waves-effect waves-light  btn-danger">
                                <a asp-action="Delete" asp-route-id="@item.ID" class="refcolor">Delete</a>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
